package outputmsg

import (
	"{{.ProjectName}}/internal/common/transport/http/output"
)

var MsgMaps = map[output.ErrorCode]map[string]string{
	0: {
		"zh": "ok",
		"en": "ok",
		"tw": "ok",
	},
	1: {
		"zh": "请重试",
		"en": "Please try again",
		"tw": "請重試",
	},
	3: {
		"zh": "登陆过期了，需要重新登录哟",
		"en": "Login has expired. Please login again",
		"tw": "登錄過期了，需要重新登錄喲",
	},
	4: {
		"zh": "错误",
		"en": "Error",
		"tw": "Error",
	},
}
