package controller

import (
	"github.com/gin-gonic/gin"
)

type {{.ControllerStructName}} struct {}

func New{{.ControllerStructName}}() *{{.ControllerStructName}} {
	ctrl := new({{.ControllerStructName}})
	return ctrl
}