package models

import "{{.ProjectName}}/internal/common/database/mysql"

type DBRecord interface {
	SetCtx(ctx mysql.DBContext)
	SetData(data mysql.DBData)
}
type BaseRecord[T mysql.DBData] struct {
	mysql.DBContext
	Data T
}

func (m *BaseRecord[T]) Exists() bool {
	return m.Data.ID() > 0
}

func (m *BaseRecord[T]) Create() error {
	return m.DB().Create(m.Data).Error
}

func (m *BaseRecord[T]) Update() error {
	return m.DB().Save(m.Data).Error
}

func (m *BaseRecord[T]) Read(id uint64) error {
	return m.DB().Take(m.Data, id).Error
}

func (m *BaseRecord[T]) Delete() error {
	return m.DB().Delete(m.Data).Error
}

func (m *BaseRecord[T]) SetCtx(ctx mysql.DBContext) {
	m.DBContext = ctx
}

func (m *BaseRecord[T]) SetData(data mysql.DBData) {
	m.Data = data.(T)
}
