package {{.ModelPkg}}

import (
	"{{.ProjectName}}/internal/common/database/mysql"
	"{{.ProjectName}}/internal/common/models"
)

type List struct {
	*models.BaseList[{{.ModelStructName}}, Record]
}

func NewList(ctx ...models.DBContext) *List {
	if len(ctx) == 0 || ctx[0] == nil {
		ctx[0] = mysql.NewTxContext()
	}
	l := &List{
		BaseList: &models.BaseList[{{.ModelStructName}}, Record]{
			DBContext: ctx[0],
            Records:   make([]{{.ModelStructName}}, 0),
		},
	}

	return l
}