package {{.ModelPkg}}

{{- if or .UseTime .UseDecimal}}
import (
{{- if .UseTime}}
	"time"
{{- end}}
{{- if .UseDecimal}}
	"github.com/shopspring/decimal"
{{- end}}
)
{{- end}}

{{.ModelStruct}}

func (data *{{.ModelStructName}}) ID() uint64 {
	return data.Id
}

func (data *{{.ModelStructName}}) TableName() string {
	return "{{.TableName}}"
}

func (data *{{.ModelStructName}}) GetCreateDDL() string {
    return "{{.CreateDDL}}"
}