package {{.ModelPkg}}

import (
	"{{.ProjectName}}/internal/common/database/mysql"
	"{{.ProjectName}}/internal/common/models"
)

type Record struct {
	*models.BaseRecord[{{.ModelStructName}}]
}

func NewRecord(ctx ...models.DBContext) *Record {
	if len(ctx) == 0 || ctx[0] == nil {
		ctx[0] = mysql.NewTxContext()
	}
	r := &Record{
		BaseRecord: &models.BaseRecord[{{.ModelStructName}}]{
			TxContext: ctx[0],
			Data:      {{.ModelStructName}}{},
		},
	}
	return r
}
