package mysql

import (
	"gorm.io/gorm"
)

type DBData interface {
	ID() uint64
	GetCreateDDL() string
	TableName() string
}

type DBContext interface {
	DB() *gorm.DB
	CreateTableIfNotExists(table DBData) error
}
