package mysql

import (
	"errors"
	"fmt"

	"gorm.io/driver/mysql"
	"gorm.io/gorm"
	"gorm.io/gorm/logger"
	"gorm.io/gorm/schema"
)

type MysqlConfig struct {
	Host     string          `json:"host" yaml:"host"`
	User     string          `json:"user" yaml:"user"`
	Password string          `json:"password" yaml:"password"`
	DBName   string          `json:"db_name" yaml:"db_name"`
	Port     int             `json:"port" yaml:"port"`
	Prefix   string          `json:"prefix" yaml:"prefix"`
	Charset  string          `json:"charset" yaml:"charset"`
	LogLevel logger.LogLevel `json:"log_level" yaml:"log_level"`
}

// SqlDB .
var (
	sqlDB *gorm.DB
)

// InitMysql .
func InitMysql(conf MysqlConfig) error {
	var err error

	param := fmt.Sprintf("%s:%s@(%s:%d)/%s?charset=%s&parseTime=True&loc=Local",
		conf.User, conf.Password, conf.Host, conf.Port, conf.DBName, conf.Charset)
	sqlDB, err = gorm.Open(
		mysql.Open(param), &gorm.Config{
			NamingStrategy: schema.NamingStrategy{
				TablePrefix:   conf.Prefix, // table name prefix
				SingularTable: true,        // use singular table name
			},
			Logger: logger.Default.LogMode(conf.LogLevel),
		})
	if err != nil {
		return err
	}
	return nil
}

// GetDB .
func GetDB() *gorm.DB {
	if sqlDB == nil {
		panic("mysql not init")
	}
	return sqlDB
}

func NewTxContext() *TxContext {
	return &TxContext{base: GetDB()}
}

type TxContext struct {
	base *gorm.DB
	tx   *gorm.DB
}

// Begin 开启一个事务；如果已经在事务中会返回错误。
func (m *TxContext) Begin() error {
	if m == nil {
		return errors.New("nil TxContext")
	}
	if m.base == nil {
		m.base = GetDB()
	}
	if m.tx != nil {
		return errors.New("transaction already started")
	}
	tx := m.base.Begin()
	if tx.Error != nil {
		return tx.Error
	}
	m.tx = tx
	return nil
}

// Commit 提交事务；仅当处于事务中时可调用。
func (m *TxContext) Commit() error {
	if m == nil {
		return errors.New("nil TxContext")
	}
	if m.tx == nil {
		return errors.New("no active transaction")
	}
	err := m.tx.Commit().Error
	m.tx = nil
	return err
}

// Rollback 回滚事务；仅当处于事务中时可调用。
func (m *TxContext) Rollback() error {
	if m == nil {
		return errors.New("nil TxContext")
	}
	if m.tx == nil {
		return errors.New("no active transaction")
	}
	err := m.tx.Rollback().Error
	m.tx = nil
	return err
}

// InTx 会在一个事务作用域内运行 fn。
// - fn 返回 error => 回滚并返回该 error（回滚失败会 wrap）
// - fn panic => 回滚后继续 panic（避免吞掉错误）
// - fn 正常返回 nil => 提交
func (m *TxContext) InTx(fn func(tx *gorm.DB) error) (err error) {
	if m == nil {
		return errors.New("nil TxContext")
	}
	if fn == nil {
		return errors.New("nil tx function")
	}
	if m.tx != nil {
		return errors.New("already in transaction")
	}
	if err = m.Begin(); err != nil {
		return err
	}
	defer func() {
		if r := recover(); r != nil {
			_ = m.Rollback()
			panic(r)
		}
		if err != nil {
			if rbErr := m.Rollback(); rbErr != nil {
				err = fmt.Errorf("%w; rollback error: %v", err, rbErr)
			}
			return
		}
		err = m.Commit()
	}()

	return fn(m.tx)
}

// DB 返回当前应使用的 *gorm.DB：
// - 已开启事务：返回事务句柄
// - 未开启事务：返回基础连接
func (m *TxContext) DB() *gorm.DB {
	if m == nil {
		return GetDB()
	}
	if m.tx != nil {
		return m.tx
	}
	if m.base != nil {
		return m.base
	}
	return GetDB()
}
